@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.maateen.me/mukti/font.css');

body {
  font-family: 'Montserrat', 'Mukti', sans-serif;
}